[Unit]
Description=Run the reddit_subscribers_count script every hour

[Timer]
#OnBootSec=15min
#OnUnitActiveSec=1d
OnCalendar=*-*-* *:00:00
Persistent = True

[Install]
WantedBy=timers.target
