[Unit]
Description=subreddit_tracker.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/subreddit_tracker/
ExecStart=%h/Documents/subreddit_tracker/.venv/bin/subreddit_tracker -f ../reddit_leaderboard_scraper/Exports/subreddits_list.txt

[Install]
WantedBy=multi-user.target
