[Unit]
Description=subreddit_tracker_sqlite.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/subreddit_tracker/
# With pipenv
ExecStart=%h/Documents/subreddit_tracker/.venv/bin/subreddit_tracker -f subreddit_list.txt -b sqlite

[Install]
WantedBy=multi-user.target
